@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Roboto, serif;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    display: inline-block;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}



.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    max-width: 1235px;

    margin: 0 auto;
    padding: 0 40px;


}

/*Верхняя часть шапки*/
.upper{
    text-transform: uppercase;
}
.red{
    color: #E31E24;
}
.bold{
    font-weight: 700;
}
.header-row{
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
    padding-top: 6px;

}

.header__top{
    height: 80px;
}
.header-logo{
    flex-grow: 0.4;
    height: inherit;
}
.header-logo{
    background: url("../img/header/logo-1.png") no-repeat;
    width: 121px;
    height: 68px;
}
.header__top{
    background-color: #7B8187;
}
.city,.number{
    font-size: 24px;
    line-height: 65px;
    color: #fff;
}

.city{
    text-decoration: underline;
    flex-grow: 1;
    margin-left: 10px;
}
.number{
    margin-left: 20px;
}
.black{
    color: #000;
    margin-left: 0;
    line-height: 24px;
}
.city,.number,.btn, .a-btn{
    display: inline-block;
}
.city a{
    color: #fff;
}
.city a:hover{
    color: #E31E24;
    text-decoration: underline;
}
.city a:active{
    color: #000;
    text-decoration: underline;
}

/*Кнопки, кнопки-ссылки*/

.btn, .a-btn{
    padding: 11px 15px;
    min-width: 200px;
    max-width: 380px;
    background-color: #E31E24;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    border-radius: 5px;
}
.btn:hover, .a-btn:hover{
    color: #000;
}
.btn:active, .a-btn:active{
    color: #fff;
    background-color: #000;
}
.handset{
    display: none;
}
/*Меню навигации*/
.header__nav{

}

.header__nav__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__menu__link{
    display: block;
    padding: 20px 10px;
    line-height: 21px;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
}
.header__nav__menu__link:hover{
    background-color: #E31E24;
    color: #fff;
}
.header__nav__menu__link:first-child{
    position: relative;
}


/*Выпадающее меню*/


.nav__submenu{
    display: none;
    position: absolute;
    z-index: 5;
}
.submenu li{
    width: 270px;
}
.submenu__link{
    display: block;
    width: 100%;
    height: 46px;
    color: #000;
    font-size: 18px;
    line-height: 46px;
    padding-left: 12px;
    background-color: #DCD7D7;
}
.submenu li:not(:last-child){
    border-bottom: 2px solid #fff;
}
.header__nav__menu li:first-child:hover .nav__submenu{
    display: block;
}
.submenu>li:hover .submenu__link{
    color: #fff;
    background-color: #E31E24;
}


/*Бургер*/

.burger{
    display: none;
    position: relative;
    width: 42px;
    height: 32px;
    cursor: pointer;
}
.burger span,.burger span::before,.burger span::after{
    width: 100%;
    position: absolute;
    top: 13px;
    left: 0;
    height: 4px;
    background-color: #fff;
    border-radius: 8px;
}
.burger span::before{
    content: "";
    top: -13px;
}
.burger span::after{
    content: "";
    top: 13px;
}

/*Медиа к шапке*/
@media (max-width: 1023px){
    .header-logo{
        background: url("../img/header/logo-2.png") no-repeat;
        width: 108px;
        height: 61px;
    }
    .btn,.a-btn{
        min-width: 170px;
    }
    .btn,.a-btn,.city,.number{
        font-size: 18px;
    }
    .burger{
        margin-left: 15px;
    }

    .header__nav__menu{
        flex-wrap: wrap;
    }
    .header__nav__menu>li{
        width: 25%;
        text-align: center;
    }

}
@media (max-width: 857px){
    .burger{
        display: block;
    }
    .header__nav{
        display: none;
    }

}
@media (max-width: 767px) {
    .container{
        padding: 0 20px;
    }
    .burger{
        order: 2;
        margin-left: 9px;
    }
    .city{
        order: 1;
    }
    .header-row{
        height: 40px;
        padding-top: 15px;
        display: grid;
        grid-template-areas:

        "a a a b c d "
        "a a a b e d ";
    }
    .header__top{
        height: 58px;
    }
    .header-logo{
        grid-area: a;
        background-image: url("../img/header/logo-3.png");
        background-repeat: no-repeat;
        background-position: 0 50%;
        width: 54px;
        height: 30px;
    }
    .header-row .btn{
        grid-area: b;
        min-width: 90px;
        padding: 9px 2px 8px 5px;
        height: 30px;
        font-size: 14px;
        line-height: 14px;
    }
    .number{
        grid-area: c;
    }
    .burger{
        grid-area: d;
        width: 32px;
        height: 26px;
    }
    .burger span,.burger span::before,.burger span::after{
        width: 100%;
        position: absolute;
        top: 11px;
        left: 0;
        height: 3px;
        background-color: #fff;
        border-radius: 8px;
    }
    .burger span::before{
        content: "";
        top: -11px;
    }
    .burger span::after{
        content: "";
        top: 11px;
    }
    .city{
        grid-area: e;
    }
    .number,.city{
        font-size: 12px;
        line-height: 12px;
        margin-left: 10px;
    }
}
@media (max-width: 372px) {
    .header-row .btn{
        display: none;
    }
}










main{
    max-width: 100%;

}

/*Footer*/


footer{
    max-width: 100%;

    background-color: #C4C4C4;
    padding: 33px 0 37px 0;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
    border-bottom: 2px solid #fff;
}
.footer__top__about,.footer__top__students{
    margin-right: 10px;
    min-width: 180px;
}
.footer__top__about{
    min-width: 148px;
}
.footer__top a{
    display: block;
    margin-bottom: 10px;
}
.footer__nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 690px;
}
.footer__top__link,.footer__nav__link{
    color: #000;
    font-size: 14px;
}
.footer__top ul>li:first-child a,.footer__nav__link{
    text-transform: uppercase;
    font-size: 18px;
}
.footer__nav__link{
    align-content: start;
}
.footer__nav li:not(:last-child){
    margin-right: 15px;
}



@media (max-width: 768px){
    .footer__nav{
        justify-content: flex-start;
    }
    .footer__top__link,.footer__nav__link{
        font-size: 12px;
    }
    .footer__top ul>li:first-child a,.footer__nav__link{
        font-size: 14px;
    }
}
@media (max-width: 537px) {
    .footer__top{
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    .footer__top__about,.footer__top__students{
        min-width: 45%;
        width: 45%;
    }
    .footer__nav{
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
    }
    .footer__bottom{
        font-size: 12px;
        line-height: 14px;
    }


}
@media (max-width: 390px) {
    .footer__nav li:nth-child(4){
        margin: 0;
    }
    .footer__top__link,.footer__nav__link,.footer__top ul>li:first-child a{
        font-size: 12px;
    }
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
}
.footer__bottom__info{
    text-align: start;
    max-width: 380px;
}
.footer__logo{
    background-image: url("../img/header/logo-4.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 175px;
    height: 98px;
    margin-bottom: 26px;
}
.footer__licenses{
    line-height: 16px;
}
.footer__bottom__link{
    display: block;
    text-decoration: underline;
    margin-top: 10px;
    color: #000;
}



.footer__bottom__contacts{
    text-align: end;
    max-width: 208px;
}
.footer__social{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer__social__link{
    margin-left: 7px;
    margin-top: 10px;
}
.vk,.classmates,.inst,.youtube{
    background-repeat: no-repeat;
}
.vk{
    background-image: url("../img/footer/vk.png");
    width: 42px;
    height: 25px;
}
.classmates{
    background-image: url("../img/footer/classmates.png");
    width: 28px;
    height: 28px;
}
.inst{
    background-image: url("../img/footer/inst.png");
    width: 26px;
    height: 25px;
}
.youtube{
    background-image: url("../img/footer/youtube.png");
    width: 41px;
    height: 41px;
}
.footer__bottom__contacts p, .rights{
    margin-top: 10px;
    line-height: 16px;
}
.footer__bottom__link:last-of-type{
    float: left;
}
.rights{
    float: right;
}
@media (max-width: 768px) {
    .footer__logo{
        background-image: url("../img/header/logo-5.png");
        width: 141px;
        height: 79px;
    }
}
@media (max-width: 537px) {
    .footer__logo{
        background-image: url("../img/header/logo-6.png");
        width: 68px;
        height: 38px;
    }
    .footer__bottom__link:last-of-type,.rights{
        float: none;
    }
    .footer__licenses{
        font-size: 10px;
    }
    .vk{
        background-image: url("../img/footer/vk-2.png");
        width: 30px;
        height: 18px;
    }
    .classmates{
        background-image: url("../img/footer/classmates-2.png");
        width: 11px;
        height: 18px;
    }
    .inst{
        background-image: url("../img/footer/inst-2.png");
        width: 18px;
        height: 18px;
    }
    .youtube{
        background-image: url("../img/footer/youtube-2.png");
        width: 24px;
        height: 18px;
    }
}
@media (max-width: 375px) {
    .footer__bottom__info{
        width: 156px;
        padding-right: 10px;
    }
}


/*Главная страница*/


.slider{
    position: relative;
    background-image: url("../img/home page/slider/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    max-width: 100%;
    height: 592px;
}
.slider__info{
    position: relative;
    max-width: 1300px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 150px;

}
h1{
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
}
.slider__description{
    font-size: 36px;
    line-height: 42px;
    max-width: 676px;
    margin: 10px 0 30px 0;
}
.slider__arrow{
    position: absolute;
    background: url("../img/home page/slider/arrow slider.png") center center no-repeat;
    width: 50px;
    height: 50px;
    top: 40%;
    transform: translateY(-40%);
}
.left{
    left: -80px;
}
.right{
    background: url("../img/home page/slider/arrow slider-right.png") center center no-repeat;
    right: -80px;
}




/*Слайдер чеки*/


input[type="radio"] {
    display: none;
}
.slider-controls {
    text-align: center;
    padding: 30px 0;
}

.slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #C4C4C4;
    border-radius: 50%;
    border: 1px solid #bab9bc;

    margin-right: 2px;
    cursor: pointer;
}
#check-1:checked ~ .slider-controls label[for="check-1"] {
    background-color: #E31E24;
    border-color: #E31E24;
}
#check-2:checked ~ .slider-controls label[for="check-2"] {
    background-color: #E31E24;
    border-color: #E31E24;
}
#check-3:checked ~ .slider-controls label[for="check-3"] {
    background-color: #E31E24;
    border-color: #E31E24;
}
#check-4:checked ~ .slider-controls label[for="check-4"] {
    background-color: #E31E24;
    border-color: #E31E24;
}
#check-5:checked ~ .slider-controls label[for="check-5"] {
    background-color: #E31E24;
    border-color: #E31E24;
}
#check-6:checked ~ .slider-controls label[for="check-6"] {
    background-color: #E31E24;
    border-color: #E31E24;
}
#check-7:checked ~ .slider-controls label[for="check-7"] {
    background-color: #E31E24;
    border-color: #E31E24;
}
#check-8:checked ~ .slider-controls label[for="check-8"] {
    background-color: #E31E24;
    border-color: #E31E24;
}
#check-9:checked ~ .slider-controls label[for="check-9"] {
    background-color: #E31E24;
    border-color: #E31E24;
}
#check-10:checked ~ .slider-controls label[for="check-10"] {
    background-color: #E31E24;
    border-color: #E31E24;
}


@media (max-width: 1023px) {
    .slider{
        background-image: url("../img/home page/slider/bg-2.png");
        height: 407px;
    }
    .slider__info{
        margin: 0 110px;
    }
    .slider__arrow{
        width: 40px;
        background-size: contain;
        height: 40px;
    }
    h1{
        font-size: 36px;
        line-height: 42px;
    }
    .slider__description{
        font-size: 24px;
        line-height: 28px;
        max-width: 340px;
    }
}
@media (max-width: 761px) {
    .slider{
        background-image: url("../img/home page/slider/bg-3.png");
        height: 303px;
    }
    .slider__info{
        margin: 0 50px;
    }
    .slider__arrow{
        width: 30px;
        background-size: contain;
        height: 30px;
    }
    h1{
        font-size: 24px;
        line-height: 28px;
    }
    .slider__description{
        font-size: 18px;
        line-height: 21px;
        max-width: 250px;
    }
    .left{
        left: -40px;
    }
    .right{
        right: -40px;
    }
    .slider .btn{
        min-width: 90px;
        padding: 9px 2px 8px 5px;
        height: 30px;
        font-size: 14px;
        line-height: 14px;
    }
    .slider-controls label{
        width: 8px;
        height: 8px;
    }
    .slider-controls{
        padding: 10px 0;
    }
}
@media (max-width: 374px) {
    .slider{
        background-image: url("../img/home page/slider/bg-3.png");

    }
    .slider-controls label{
        width: 6px;
        height: 6px;
    }
}




.general__advantages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 80px 0;

}
.general__advantages__item{
    margin: 0 5px;
}
.general__advantages__img{
    max-width: 100%;
    position: relative;
    top:50%;
    transform: translateY(-50%);


}
.general__advantages__info{
    margin-top: 10px;


}
.general__advantages__title{
    margin-bottom: 8px;
}
.general__advantages__description{
    font-size: 18px;
    line-height: 21px;
}




@media (max-width: 642px) {
    .general__advantages{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        padding: 30px 0 20px;
    }
    .general__advantages__title{
        font-size: 18px;
        line-height: 21px;
    }
    .general__advantages__description{
        font-size: 14px;
        line-height: 16px;
    }
    .general__advantages__img:nth-of-type(1),.general__advantages__img:nth-of-type(2){
        order: 0;
    }
    .general__advantages__info:nth-of-type(1),.general__advantages__info:nth-of-type(2){
        order: 1;
    }
    .general__advantages__img:nth-of-type(3),.general__advantages__img:nth-of-type(4){
        order: 2;
    }
    .general__advantages__info:nth-of-type(3),.general__advantages__info:nth-of-type(4){
        order: 3;
    }
}





/*Программы*/
.programs{
    padding-bottom: 80px;
}
.grid-container__programs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 22px;
    padding: 30px 0;
}
.programs__item{
    border: 1px solid #5F5B5B;
    padding-bottom: 52px;

}
.programs__item:hover{
    border: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);

}


.programs__item__images{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 20px;
    align-items: center;
    padding-right: 15px;
}
.size-adaptive{
    display:block;
    max-width: 100%;
    max-height: 100%;


}


h2{
    font-size: 48px;
    line-height: 56px;
}
h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}
.programs__item__info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 29px 25px 0 25px;
}
.programs__item__info h4{
    width: 100%;
}
.programs__item__description{
    width: 50%;
    padding-top: 20px;
}
.programs__duration{
    position: relative;
    left: -32px;
    font-size: 24px;
    line-height: 28px;
    background-color: #fff;
    /*border: 1px solid red;*/
    z-index: 5;
    margin-top: 18px;
    max-width: 297px;
    padding: 22px 37px 23px 31px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;

}
.programs__item__info .btn{
    margin-top: 10px;
}

/*Показать больше в отдельном гриде*/
.none{
    display: block;
}
.grid{
    display: none;
}
.more{
    display: none;
}


/*СКРИПТ НА КНОПКУ + ПОКАЗАТЬ БОЛЬШЕ*/

/*@media (max-width: 1472px) {*/
/*    .none{*/
/*        display: none;*/
/*    }*/
/*    .grid{*/
/*        display: grid;*/
/*    }*/
/*    .more{*/
/*        display: block;*/
/*    }*/
/*}*/


@media (max-width: 1202px) {
    .programs__item{
        padding-bottom: 25px;
    }
    .programs__item__info{
        flex-direction: column;
        align-items: flex-start;
    }
    .programs__item__description{
        width: 100%;
    }
    .programs__duration{
        padding: 15px 23px 15px 20px;
    }
    .programs__item__info .btn{
        margin-top: 30px;
    }
}
@media (max-width: 642px) {
    .grid-container__programs{
        grid-template-columns: 1fr;
    }
    h2{
        font-size: 36px;
        line-height: 42px;
    }
    .programs__item__info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .programs__item__description{
        width: 45%;
    }
}
@media (max-width: 428px) {
    .programs{
        padding-top: 40px;
    }
    .programs__item__info{
        flex-direction: column;
    }
    h2{
        font-size: 24px;
        line-height: 28px;
    }
    h4{
        font-size: 18px;
        line-height: 21px;
    }
    .programs__item__description{
        font-size: 14px;
        line-height: 16px;
        width: 100%;
    }
    .programs__duration{
        font-size: 18px;
        line-height: 21px;
    }
    .programs .btn{
        font-size: 14px;
        line-height: 16px;
    }
}


/*Вопросы*/

.questions{
    width: 100%;
    background: linear-gradient(to bottom,#fff 0%, #fff 33%, #31313A 33%);
    padding-bottom: 40px;
}
.questions .container{
    max-width: 1046px;
    margin: 0 auto;
}

.questions__grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);

}
h3{
    grid-column: 2 / 6;
    grid-row: 1 / 2;

    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    text-align: center;
    margin: 31px 0 16px;
}
.questions__img {
    background-image: url("../img/home page/questions/cars-image.jpg");
    background-repeat: no-repeat;
    object-fit: cover;

    width: 100%;
    max-width: 463px;
    height: 100%;

    display: block;
    grid-column: 1 / 7;
    grid-row: 2 / 6;

    position: relative;
    z-index: 6;

}
.questions__form{
    grid-column: 6 / 13;
    grid-row: 1 / 6;

    width: 563px;
    padding: 121px 29px 30px 97px;


    background: #31313A;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.questions .btn{
    grid-column: 2 / 6;
    grid-row: 6;
    align-self: center;
    margin: 0 auto;
}

.questions__form input:not([type="checkbox"]), .questions__form select{
    display: block;
    width: 100%;
    padding: 15px 15px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 21px;
}
.questions__form input::placeholder{
    font-size: 18px;
    line-height: 21px;
    color: #7B8187;
}
.questions__form input:focus::placeholder{
    font-size: 0;
}
.questions__form select{
    font-size: 18px;
    line-height: 21px;
    color: #7B8187;
    background: url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right #fff;
    background-position-x: 95%;
    appearance: none;
}
.questions__form select option{
    color: #000;
}
.questions__form select option:first-of-type{
    color: #7B8187;
}

.questions__form input[type="checkbox"]{
    position: absolute;
}
.questions__form__checkbox__label{
    display: block;
    color: #E5E5E5;
    font-size: 12px;
    line-height: 14px;
    padding-left: 25px;
}


/*Медиа вопросы*/

@media (max-width: 1023px) {
    .questions{
        background: linear-gradient(to bottom,#fff 0%, #fff 50%, #31313A 50%);
    }
    .questions__grid{
        max-width: 693px;
        margin: 0 auto;
        padding: 0;
        grid-template-columns: repeat(16, minmax(35px, 53px));
        grid-template-rows: repeat(8, minmax(70px, 89px));
    }
    h3{
        grid-column: 1 / 16;
        grid-row: 1;
        text-align: center;


    }
    .questions__img{
        background-image: url("../img/home page/questions/cars-image-2.png");
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: 50% 100%;

        width: 100%;
        max-width: 341px;
        height: 100%;

        grid-column: 1 / 6;
        grid-row: 3 / 7;

    }
    .questions__form{
        max-width: 520px;
        grid-column: 5 / 16;
        grid-row: 2 / 8;
    }
    .questions .btn{
        grid-column: 5 / 7;
        grid-row: 8;

    }
}
@media (max-width: 746px) {
    .questions{
        background: linear-gradient(to bottom,#fff 0%, #fff 35%, #31313A 35%);
    }
    .questions__grid{

        display: block;
        max-width: 520px;

    }
    h3{
        margin-top: 0;
        font-size: 24px;
        line-height: 28px;
        text-align: left;
    }
    .questions__img{
        display: none;
    }
    .questions__form{
        margin: 0 auto;
        width: inherit;
        padding: 30px 30px;
    }
    .questions__form input::placeholder{
        font-size: 14px;
        line-height: 18px;
    }
    .questions__form select{
        font-size: 14px;
        line-height: 18px;
        background-size: 14px;
    }
    .questions .btn{
        margin-top: 20px;
        margin-left: 54px;
    }
}
@media (max-width: 509px) {
    .questions{
        padding-bottom: 28px;
    }
    .questions__grid{
        max-width: 350px;
    }
    .questions .btn{
        margin-top: 15px;
        min-width: 130px;
        padding: 9px 2px 8px 5px;
        height: 30px;
        font-size: 14px;
        line-height: 16px;
    }
    .questions__form select{
        background-size: 11px;
    }
    .questions__form input:not([type="checkbox"]), .questions__form select{
        padding: 7px 7px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 16px;
    }
}




/*Репортаж*/

.reportage{
    padding: 80px 0 50px;
}
.reportage h2{
    max-width: 948px;
}
.reportage__flex{
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 54px;
}
.reportage__info{
    padding-right: 20px;
    font-size: 24px;
    line-height: 28px;
}
.reportage__video{
    object-fit: cover;
    width: 100%;
    height: auto;

}



@media (max-width: 805px) {
    .reportage{
        padding: 50px 0;
    }
    .reportage h2{
        font-size: 36px;
        line-height: 42px;
    }
    .reportage__flex{
        display: block;
        margin-top: 20px;
    }
    .reportage__info{
        margin: 20px 0;
    }

}
@media (max-width: 530px) {
    .reportage{
        padding: 40px 0;
    }
    .reportage h2{
        font-size: 24px;
        line-height: 28px;
    }
    .reportage__info{
        font-size: 14px;
        line-height: 16px;
    }
}