@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Roboto, serif;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    display: inline-block;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}



.wrapper{
    max-width: 1366px;
    margin: 0 auto;
}
.container{
    max-width: 1135px;
    height: inherit;
    margin: 0 auto;
    padding: 0 40px;


}

/*Верхняя часть шапки*/
.upper{
    text-transform: uppercase;
}
.header-row{
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;

}

.header__top{
    height: 80px;
}
.header-logo{
    background: url("../img/header/logo-1.png") no-repeat;
    width: 121px;
    height: 68px;
    flex-grow: 0.4;
}
.header__top{
    background-color: #7B8187;
}
.city,.number{
    font-size: 24px;
    line-height: 65px;
    color: #fff;
}

.city{
    text-decoration: underline;
    flex-grow: 1;
    margin-left: 10px;
}
.number{
    margin-left: 20px;
}
.black{
    color: #000;
    margin-left: 0;
    line-height: 24px;
}
.city,.number,.btn, .a-btn{
    display: inline-block;
}
.city a{
    color: #fff;
}
.city a:hover{
    color: #E31E24;
    text-decoration: underline;
}
.city a:active{
    color: #000;
    text-decoration: underline;
}

/*Кнопки, кнопки-ссылки*/

.btn, .a-btn{
    padding: 11px 15px;
    min-width: 200px;
    max-width: 380px;
    background-color: #E31E24;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    border-radius: 5px;
}
.btn:hover, .a-btn:hover{
    color: #000;
}
.btn:active, .a-btn:active{
    color: #fff;
    background-color: #000;
}
.handset{
    display: none;
}
/*Меню навигации*/
.header__nav{

}

.header__nav__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__menu__link{
    display: block;
    padding: 20px 10px;
    line-height: 21px;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
}
.header__nav__menu__link:hover{
    background-color: #E31E24;
    color: #fff;
}
.header__nav__menu__link:first-child{
    position: relative;
}


/*Выпадающее меню*/


.nav__submenu{
    display: none;
    position: absolute;
    z-index: 5;
}
.submenu li{
    width: 270px;
}
.submenu__link{
    display: block;
    width: 100%;
    height: 46px;
    color: #000;
    font-size: 18px;
    line-height: 46px;
    padding-left: 12px;
    background-color: #DCD7D7;
}
.submenu li:not(:last-child){
    border-bottom: 2px solid #fff;
}
.header__nav__menu li:first-child:hover .nav__submenu{
    display: block;
}
.submenu>li:hover .submenu__link{
    color: #fff;
    background-color: #E31E24;
}


/*Бургер*/

.burger{
    display: none;
    position: relative;
    width: 42px;
    height: 32px;
    cursor: pointer;
}
.burger span,.burger span::before,.burger span::after{
    width: 100%;
    position: absolute;
    top: 13px;
    left: 0;
    height: 4px;
    background-color: #fff;
    border-radius: 8px;
}
.burger span::before{
    content: "";
    top: -13px;
}
.burger span::after{
    content: "";
    top: 13px;
}

/*Медиа к шапке*/
@media (max-width: 1023px){
    .header-logo{
        background: url("../img/header/logo-2.png") no-repeat;
        width: 108px;
        height: 61px;
    }
    .btn,.a-btn{
        min-width: 170px;
    }
    .btn,.a-btn,.city,.number{
        font-size: 18px;
    }
    .burger{
        margin-left: 15px;
    }

    .header__nav__menu{
        flex-wrap: wrap;
    }
    .header__nav__menu>li{
        width: 25%;
        text-align: center;
    }

}

@media (max-width: 857px){
    .burger{
        display: block;
    }
    .header__nav{
        display: none;
    }

}

@media (max-width: 767px) {
    .container{
        padding: 0 20px;
    }
    .burger{
        order: 2;
        margin-left: 9px;
    }
    .city{
        order: 1;
    }
    .header-row{
        height: 40px;
        padding-top: 15px;
        display: grid;
        grid-template-areas:

        "a a a b c d "
        "a a a b e d ";
    }
    .header__top{
        height: 58px;
    }
    .header-logo{
        grid-area: a;
        background-image: url("../img/header/logo-3.png");
        background-repeat: no-repeat;
        background-position: 0 50%;
        width: 54px;
        height: 30px;
    }
    .header-row .btn{
        grid-area: b;
        min-width: 90px;
        padding: 9px 2px 8px 5px;
        height: 30px;
        font-size: 14px;
        line-height: 14px;
    }
    .number{
        grid-area: c;
    }
    .burger{
        grid-area: d;
        width: 32px;
        height: 26px;
    }
    .burger span,.burger span::before,.burger span::after{
        width: 100%;
        position: absolute;
        top: 11px;
        left: 0;
        height: 3px;
        background-color: #fff;
        border-radius: 8px;
    }
    .burger span::before{
        content: "";
        top: -11px;
    }
    .burger span::after{
        content: "";
        top: 11px;
    }
    .city{
        grid-area: e;
    }
    .number,.city{
        font-size: 12px;
        line-height: 12px;
        margin-left: 10px;
    }
}
@media (max-width: 372px) {
    .header-row .btn{
        display: none;
    }
}










main{
    max-width: 100%;

}

/*Footer*/


footer{
    max-width: 100%;

    background-color: #C4C4C4;
    padding: 33px 0 37px 0;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
    border-bottom: 2px solid #fff;
}
.footer__top__about,.footer__top__students{
    margin-right: 10px;
    min-width: 180px;
}
.footer__top__about{
    min-width: 148px;
}
.footer__top a{
    display: block;
    margin-bottom: 10px;
}
.footer__nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 690px;
}
.footer__top__link,.footer__nav__link{
    color: #000;
    font-size: 14px;
}
.footer__top ul>li:first-child a,.footer__nav__link{
    text-transform: uppercase;
    font-size: 18px;
}
.footer__nav__link{
    align-content: start;
}
.footer__nav li:not(:last-child){
    margin-right: 15px;
}

@media (max-width: 768px){
    .footer__nav{
        justify-content: flex-start;
    }
    .footer__top__link,.footer__nav__link{
        font-size: 12px;
    }
    .footer__top ul>li:first-child a,.footer__nav__link{
        font-size: 14px;
    }
}
@media (max-width: 537px) {
    .footer__top{
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    .footer__top__about,.footer__top__students{
        min-width: 45%;
        width: 45%;
    }
    .footer__nav{
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
    }
    .footer__bottom{
        font-size: 12px;
        line-height: 14px;
    }


}
@media (max-width: 390px) {
    .footer__nav li:nth-child(4){
        margin: 0;
    }
    .footer__top__link,.footer__nav__link,.footer__top ul>li:first-child a{
        font-size: 12px;
    }
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
}
.footer__bottom__info{
    text-align: start;
    max-width: 380px;
}
.footer__logo{
    background-image: url("../img/header/logo-4.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 175px;
    height: 98px;
    margin-bottom: 26px;
}
.footer__licenses{
    line-height: 16px;
}
.footer__bottom__link{
    display: block;
    text-decoration: underline;
    margin-top: 10px;
    color: #000;
}



.footer__bottom__contacts{
    text-align: end;
    max-width: 208px;
}
.footer__social{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer__social__link{
    margin-left: 7px;
    margin-top: 10px;
}
.vk,.odnoklassniki,.inst,.youtube{
    background-repeat: no-repeat;
}
.vk{
    background-image: url("../img/footer/vk.png");
    width: 42px;
    height: 25px;
}
.odnoklassniki{
    background-image: url("../img/footer/odnoklassniki.png");
    width: 28px;
    height: 28px;
}
.inst{
    background-image: url("../img/footer/inst.png");
    width: 26px;
    height: 25px;
}
.youtube{
    background-image: url("../img/footer/youtube.png");
    width: 41px;
    height: 41px;
}
.footer__bottom__contacts p, .rights{
    margin-top: 10px;
    line-height: 16px;
}
.footer__bottom__link:last-of-type{
    float: left;
}
.rights{
    float: right;
}
@media (max-width: 768px) {
    .footer__logo{
        background-image: url("../img/header/logo-5.png");
        width: 141px;
        height: 79px;
    }
}
@media (max-width: 537px) {
    .footer__logo{
        background-image: url("../img/header/logo-6.png");
        width: 68px;
        height: 38px;
    }
    .footer__bottom__link:last-of-type,.rights{
        float: none;
    }
    .footer__licenses{
        font-size: 10px;
    }
    .vk{
        background-image: url("../img/footer/vk-2.png");
        width: 30px;
        height: 18px;
    }
    .odnoklassniki{
        background-image: url("../img/footer/odnoklassniki-2.png");
        width: 11px;
        height: 18px;
    }
    .inst{
        background-image: url("../img/footer/inst-2.png");
        width: 18px;
        height: 18px;
    }
    .youtube{
        background-image: url("../img/footer/youtube-2.png");
        width: 24px;
        height: 18px;
    }
}
@media (max-width: 375px) {
    .footer__bottom__info{
        width: 156px;
        padding-right: 10px;
    }
}

